<%- include("header") -%> 
    <h1>About Page</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique iusto hic eligendi labore voluptates asperiores nihil distinctio necessitatibus fugit deleniti fuga magnam, dolorum atque. Nam quaerat corporis nulla similique excepturi. </p>
    
<%- include("footer") -%>     